node_modules/
.next/
out/
build/
dist/
.env*.local
.vercel/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
.vscode/
*.iml
*.iws
.project
.classpath
.settings/

*.log
*.sqlite
.DS_Store
